<iframe style="display: none;" name="dummyframe" id="dummyframe"></iframe>

<h2>Send a message to a channel:</h2>
<form action="/sendMessage" method="POST" target="dummyframe">
    <input type="hidden" name="token" value="{{token}}">
    <select name="channelid">
        {{#each chans}}
            <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>
    <input type="text" name="text" placeholder="Message Text">
    <input type="submit" value="Send">
</form>

<h2>Send a message to a user:</h2>
<form action="/sendMessageUser" method="POST" target="dummyframe">
    <input type="hidden" name="token" value="{{token}}">
    <select name="userid">
        {{#each users}}
            <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>
    <input type="text" name="text" placeholder="Message Text">
    <input type="submit" value="Send">
</form>

<h1 class="danger-zone">Danger Zone</h1>
<h5 class="danger-text">Warning! When using pm2, the bot restarts instead of shutting down<h5>
<form action="/shutdown" method="POST" target="dummyframe">
    <input type="hidden" name="token" value="{{token}}">
    <input type="submit" value="Shutdown bot">
</form>